<!DOCTYPE html>
{% extends 'index.html'%}
{% load static %}

{%block main_content%}

<main role="main">
<div class="jumbotron">
    <div class="container">
        <img src="{% static 'pacc-logo.jpg' %}"  class="rounded float-start" alt="LIMS" height="200" style="margin-right: 20px;">

        <h1 class="display-4" style="color: white;">Hello Reader</h1>
        <p style="color: whitesmoke;">Welcome to city library .We have large olection of books to cater the reading needs of all kind of readers</p>
        <p><a role="button" href="{% url 'book_list'%}" class="btn btn-primary btn-lg">Browse our collections>></a></p>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
        <h2>why reading is important?</h2>
        <p>Reading id good for you because it improves your focus, memory , empathy , communications skills ,it can reduce stress and improve your mental health and help you live longer,Reading also allows you to learn new things to help succesfull in your work and relationships. </p>
      </div>
      <div class="col">
        <h2>Key benifits</h2>
        <ul>
            <li>increase your vocabulary and comprehension skill</li>
            <li>Reduce stress</li>
            <li>Improve mental health</li>
            <li>Prevents congnitive decline</li>
        </ul>
      </div>
      <div class="col">
        <h2>Thought for a day </h2>
        <p> "just don't give up trying to do what you really what to do ,where there is a love and inspiration, i don't think you can go wrong":-Ella Fitzgerald</p>
      </div>
    </div>
    <hr>
  </div>

</main>

<footer id="footer">
  <div class="container">
    <div class="copyright">
      <footer class="mt-5 bg-grey">
        <p class="m-0 text text-center "> &#x1F12F; Copyleft by CGLUG  </p>
    </footer> <strong><span></span></strong>

{% endblock %}