{% load static %}
<div class="container-fluid">
    <form action="{% url 'save-category' %}" id="category-form" enctype="multipart/form-data" method="POST">
        <input type="hidden" name="id" value="{{ category.id }}">
        <div class="mb-3">
            <label for="name" class="control-label">பெயர்</label>
            <input type="text" id="name" name="name" class="form-control form-control-sm rounded-0" value="{{ category.name }}" required>
        </div>
        <!-- <div class="mb-3">
            <label for="description" class="control-label">விளக்கம்</label>
            <textarea rows="3" id="description" name="description" class="form-control form-control-sm rounded-0" required>{{ category.description }}</textarea>
        </div> -->
        <div class="mb-3">
            <label for="status" class="control-label">நிலை</label>
            <select id="status" name="status" class="form-select form-select-sm rounded-0" required>
                <option value="1" {% if category.status == '1' %}selected{% endif %}>Active</option>
                <option value="2" {% if category.status == '2' %}selected{% endif %}>Inactive</option>
            </select>
        </div>
        {% csrf_token %}
    </form>
</div>
<script>
    $(function() {
        $('#category-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this);
            $('.err-msg').remove();
            var el = $('<div>').addClass("alert alert-danger err-msg").hide();
            if (!_this[0].checkValidity()) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                url: "{% url 'save-category' %}",
                data: new FormData(this),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                dataType: 'json',
                error: function(err) {
                    console.log(err);
                    alert("An error occurred.");
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp === 'object' && resp.status === 'success') {
                        location.reload();
                    } else if (resp.status === 'failed' && resp.msg) {
                        el.text(resp.msg).prependTo(_this).show('slow');
                    } else {
                        el.text("An error occurred.").prependTo(_this).show('slow');
                        console.error(resp);
                    }
                    $("html, body, .modal").scrollTop(0);
                    end_loader();
                }
            });
        });
    });
</script>
