 {% load static %} {% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none
    }
    
    #uni_modal .modal-sub-footer {
        display: flex
    }
    
    #book-img {
        max-width: 100%;
        max-height: 10em;
        object-fit: scale-down;
        object-position: center center
    }
</style>
<div class="container-fluid" id="e-details">
    <div class="">
        <dl>
            <dt>வகை</dt>
            <dd class="ps-4">{{book.sub_category.category}}</dd>
            <dt>துணை வகை</dt>
            <dd class="ps-4">{{book.sub_category.name}}</dd>
            <dt>ஐஎஸ்பிஎன்</dt>
            <dd class="ps-4">{{book.isbn}}</dd>
            <dt>தலைப்பு</dt>
            <dd class="ps-4">{{book.title}}</dd>
            {% comment %} <dt>விளக்கம்</dt>
            <dd class="ps-4">{{book.description}}</dd> {% endcomment %}
            <dt>நூலாசிரியர்</dt>
            <dd class="ps-4">{{book.author}}</dd>
            <dt>வெளியீட்டாளர்</dt>
            <dd class="ps-4">{{book.publisher}}</dd>
            <dt>விலை</dt>
            <dd class="ps-4">{{book.price}}</dd>
            <dt>பேழை</dt>
            <dd class="ps-4">{{book.berow}}</dd>
            <dt>தட்டு</dt>
            <dd class="ps-4">{{book.rack}}</dd>
            <dt>வெளியிட்ட தேதி</dt>
            <dd class="ps-4">{{book.date_published|date:"F d, Y h:i A"}}</dd>
            <dt>நிலை</dt>
            <dd class="ps-4">
                {% if book.status == '1' %}
                <span class="badge badge-success bg-gradient bg-success px-3 rounded-pill bg-opacity-75 text-sm py-1">Active</span> {% else %}
                <span class="badge badge-secondary bg-gradient bg-secondary px-3 rounded-pill bg-opacity-75 text-sm py-1">Inactive</span> {% endif %}
            </dd>
        </dl>
    </div>
</div>