 {% load static %} {% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none
    }

    #uni_modal .modal-sub-footer {
        display: flex
    }
</style>
<div class="container-fluid" id="e-details">
    <div class="">
        <dl>
            <dt>மாணவர் எண்</dt>
            <dd class="ps-4">{{student.code}}</dd>
            <dt>துறை</dt>
            <dd class="ps-4">{{student.department}}</dd>
            <dt>பாடநெறி</dt>
            <dd class="ps-4">{{student.course}}</dd>
            <dt>பெயர்</dt>
            <dd class="ps-4">{{student.name}}</dd>
            <dt>பாலினம்</dt>
            <dd class="ps-4">{{student.gender}}</dd>
            <dt>தொடர்பு </dt>
            <dd class="ps-4">{{student.contact}}</dd>
            <dt>கல்வி நிலை</dt>
            <dd>{% if student.education_level == "UG" %}
                இளங்கலை
                {% elif student.education_level  == "PG" %}
                முதுகலை
                {% else %}
                முதுநிலை
                {% endif  %}
            </dd>
            <dt>மின்னஞ்சல்</dt>
            <dd class="ps-4">{{student.email}}</dd>
            <dt>முகவரி</dt>
            <dd class="ps-4">{{student.address}}</dd>
            <dt>நிலை</dt>
            <dd class="ps-4">
                {% if student.status == '1' %}
                <span class="badge badge-success bg-gradient bg-success px-3 rounded-pill bg-opacity-75 text-sm py-1">Active</span> {% else %}
                <span class="badge badge-secondary bg-gradient bg-secondary px-3 rounded-pill bg-opacity-75 text-sm py-1">Inactive</span> {% endif %}
            </dd>
        </dl>
    </div>
</div>
